.rdw-editor
  &-main.demo-editor
    background: white
    width: 21cm
    min-height: 25cm
    max-width: 100%
    display: block
    margin: 0 auto
    margin-bottom: 0.5cm
    box-shadow: 0 0 0.5cm rgba(0, 0, 0, 0.5)

    .DraftEditor-editorContainer
      padding: 1rem

@media print
  .rdw-editor-main
    .DraftEditor-root
      background-color: white
      height: 100%
      width: 100%
      position: fixed
      top: 0
      left: 0
      margin: 0
      padding: 15px
      font-size: 14px
      line-height: 18px
